# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtualenv
venv/

# Datasets and big artifacts
*.csv
*.xlsx
*.db
*.sqlite

# Models
*.pkl
*.pt
*.pth
*.bin
*.h5

# Frontend build + deps
node_modules/
.next/
out/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log